<h1>Log In Here</h1>
<%= form_tag "/login", method: :post do %>
  <div>
    <input type="text" name="name" placeholder="User Name">
  </div>
  <div>
    <input type="password" name="password" placeholder="Password">
  </div>
  <input type="submit" value="Sign In">
<% end %>