<h1>Log In Here</h1>
<%= form_tag "/login", method: :post do %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Password: <input type="password" name="password">
  </div>
  <div>
    Confirm Password: <input type="password" name="password_confirmation">
  </div>
  <input type="submit" value="Submit">
<% end %>