<h4 id="name"><a class="link" target="_blank" href="<%= @prices.first.link %>"><%= @part.name %> </a> </h4>
<h4 class="content">Description: <%= @part.descriptions.second.content %> </h4>

  <h4 class="content">Price: <%= @prices.first.price %></h4>
  <hr>




