<h1>Sign Up Here</h1>
<%= form_tag '/users', method: :post do %>
<div>
 <input type="text" name="name" placeholder="User Name"> 
</div>
<div>
 <input type="email" name="email" placeholder="Email"> 
</div>
<div>
 <input type="password" name="password" placeholder="Password"> 
</div>
<div>
 <input type="password" name="password_confirmation" placeholder="Confirm Password"> 
</div>
<input type="submit" value="Sign Up">
<% end %>
