h1 {
  font-family: sans-serif;
}

#name {
  text-decoration: underline;
}


.link {
  text-decoration: bold;
}

img {
  height: 100px;
  width: auto;
  display:block;
  text-align:center;
}

#category{
 height: responsive;
 margin: auto;
 text-align: center;
 padding-right:100px;
}

#category_images{
  display: block;
  margin: auto;
}

