<h1>Pick Your Car</h1>

<%= form_tag "/cars", method: :post do%> 
  <div>
    <h3>Make:<input type="text" name="make"></h3>
  </div>
  <div>
    <h3>Model:<input type="text" name="model"></h3>
  </div>
  <div>
    <h3>Year:<input type="integer" name="year"></h3>
  </div>
  <input type="submit" value="Next">
<% end %>